/* Common
---------------------------------- */

body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	line-height: 1.6;
}

h1 {
	font-weight: 300;
	font-size: 42px;
	color: deepskyblue;
}

h2 {
	font-weight: 700;
	color: deeppink;
	font-size: 35px;
}

img {
	max-width: 100%;
}

/* Main
---------------------------------- */

main {
	max-width: 768px;
	margin: 0 auto;
	padding: 0 20px;
}

/* Navigation
---------------------------------- */

nav {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dotted #444;
}

nav ul {
	display: flex;
	margin: 20px 0 0 0;
	padding: 0;
}

nav li {
	list-style: none;
	margin-right: 20px;
}

nav a {
	color: deeppink;
	text-decoration: none;
	font-size: 18px;
	font-weight: 700;
}

nav a:hover {
	color: #444;
}

/* No service-worker banner
---------------------------------- */

.no-service-worker.is-hidden {
	display: none;
}

.no-service-worker {
	padding: 10px;
	background-color: yellow;
}

.no-service-worker p {
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 16px;
	font-weight: 300;
}