body {
	font-family: "Roboto", sans-serif;
	line-height: 1.6;
}

h1 {
	font-weight: 300;
	font-size: 42px;
	color: deepskyblue;
}

h2 {
	font-weight: 700;
	color: deeppink;
	font-size: 35px;
}

main {
	max-width: 768px;
	margin: 0 auto;
}